{% extends "base.html" %}
{% load static %}
{% block content %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ezra Django Blog</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="container">
        <h1>Welcome to Ezra Django Blog</h1>
            <div class="blog-post">
                <h2>Tv Series</h2>
		{% for post in post_list %}
			<div class="post-entry">
			<h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
			<p>{{ post.body }}</p>
			</div>
		{% endfor %}
                <p class="post-meta">Published on January 1, 2023</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae purus vel lacus ullamcorper interdum. Integer et lorem fringilla, viverra sem sed, lobortis lacus. Sed nec ipsum nec sem gravida aliquet vel a mi. Nulla venenatis ullamcorper leo, et feugiat velit hendrerit sed. Sed vel urna eros.</p>
            </div>

            <!-- More blog posts -->

        </div>
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2023 Ezra Django Blog. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
{% endblock content %}
